[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
[submodule "crust"]
	path = crust
	url = https://github.com/crust-firmware/crust.git
[submodule "orangepi-build"]
	path = orangepi-build
	url = https://github.com/orangepi-xunlong/orangepi-build.git
